/**main content*/
.container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgb(112, 113, 113);
    position: relative;
    padding: 0;
}

.title {
    width: 20%;
    background-color: dodgerblue;
    color: white;
    box-shadow: 2px 2px 4px rgb(0, 0, 0), 0 0 4px white;
    text-align: center;
}

div p {
    color: #2f3c7e;
    font-weight: bold;
    font-size: large;
}

.table {
    margin-top: 20px;
  }
  
table tr th {
    background-color: #2f3c7e;
    color: white;
    
}
  

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}



.resultTable fieldset {
    width: 50%;
}

fieldset table, fieldset table th, fieldset table td {
    border:none;
}