/*main content*/
main {
    position: relative;
    z-index: 1;
    background: #29b6f6;
}

.flex {
    display: flex;
}

.container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgb(112, 113, 113);
    position: relative;
}

.container .left, .container .right{
    flex: 1;
}

.container .left {
    animation: transLeftIn 0.7s;
}

.container .right {
    animation: transRightIn 0.7s;
}

.right > div, .left > div{
    border-radius: 20px;
    background-color: #6d8199;
    color: #FFFDD0;
    margin: 5%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.3s;
}

.left > div:hover, .right> div:hover {
    transform: scale(110%);
}

.right .js {
    background-color: #e1b12d;
}

.right .jquery {
    background-color: #4d72a8;
}

.left .css {
    background-color: #598ac2;
}

.left .html {
    background-color: #e1722d;
}

.content a {
    display: flex;
    text-decoration: none;
    color: #FFFDD0;
    text-shadow: 5px 5px 10px#3f4042;
}

.content a img {
    width: 25%;
    background-color: white;
    border-radius: 20px;
}

/*information*/

.information a {
    text-align: center;
    text-decoration: none;
    color: #FFFDD0;
    display: block;
}

.information img {
    border-radius: 50%;
    height: 100%;
    width: 40%;
}

@keyframes transLeftIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes transRightIn {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


